useDynLib(coorsim, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(detect_cosimilarity)
export(coorsim_prepare_data)
export(coorsim_match_overlaps)
export(query_and_compute_similarities)
export(query_and_compute_similarities_tbb)
export(set_num_threads)
export(coorsim_detect_groups)
export(filter_ntile)
export(plot_coordinated_posts)
export(subset_by_community_size)
export(augment_similarity_table)
export(augment_groups_data)
export(plot_communities)
export(community_ei)
export(z_standardize)
export(prepare_account_texts)
export(prepare_community_texts)
export(label_communities)
export(get_embeddings)
export(install_transformers)
export(install_torch)
export(init_transformers)