useDynLib(coorsim, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(query_embedding)
export(detect_cosimilarity)
export(coorsim_prepare_data)
export(compute_cosine_similarities)
export(coorsim_match_overlaps)